@import "variables.css";

body {
  margin: 0px;
  overflow-x: hidden;
  font-family: "Stack Sans Text", sans-serif;
  background-color: var(--page-background);
  color: var(--text-primary);
}

.tag {
  font-size: 14px;
  color: var(--tint-purple);
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

.tint-2 {
  color: var(--tint-2);
}

.display-text {
  font-family: "Permanent Marker", cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding: 16px;
  box-sizing: border-box;
}

h4 {
  margin: 0px;
}

section {
  max-width: 800px;
}

p {
  margin: 0px;
}

.text-clip {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-nav {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  background-color: rgba(22, 22, 22, 0.8);
  box-sizing: border-box;
  overflow-x: hidden;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.mobile-nav p {
  font-family: var(--display-type);
  font-size: 24px;
  font-weight: bold;
}

.mobile-nav i {
  margin-right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
}

header h4 {
  line-height: 1.5;
}

.card-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 0px;
}

#author-excerpt {
  margin-top: 16px;
}

.author-info {
  display: flex;
  flex-direction: column;
  margin: 0px;
  gap: 2px;
}

.author-info p {
  margin: 0px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.featured {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.article-stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feature-article:hover {
  border-color: var(--tint-purple);
}

.feature-article {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: solid 1px var(--text-secondary);
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.feature-article figure {
  width: 100%;
  height: 120px;
  margin: 0px;
  padding: 0px;
}

.feature-article figure img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.feature-article .card-body {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #1f1f1f;
}

.feature-article h5 {
  margin: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  letter-spacing: 0.1px;
  line-height: 1.5;
}

.feature-article p {
  margin: 8px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-title {
  margin: 0px;
}

h1 {
  margin-top: 64px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 32px;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  gap: 9px;
}

.footer-menu p {
  font-size: 20px;
}

.footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-menu ul li {
  font-family: "Stack Sans Text", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: var(--text-primary);
}

.footer-title {
  font-size: 16px;
  font-weight: 700;
  font-family: var(--display-type);
}

.social-link-container {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  gap: 16px;
}

.social-link {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 32px;
  line-height: 1.2;
}

.social-link a:hover {
  text-decoration: underline;
}

#footer-deco-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  height: 100px;
}

.footer-deco {
  height: 100px;
  flex-shrink: 0;
  object-fit: fill;
  position: relative;
}

.footer-deco:not(:first-child) {
  margin-left: -24px;
}

#footer-end {
  align-self: center;
}

.icon-arrow {
  width: 48px;
  height: 48px;
  stroke-width: 4px;
  fill: none;
}

.icon-arrow path {
  stroke: var(--text-primary);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@media screen and (min-width: 768px) {
  footer {
    align-items: center;
  }

  .footer-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    flex-grow: 1;
    width: 100%;
    padding: 24px 0px;
  }

  .footer-menu {
    margin-right: auto;
  }

  .social-link-container {
    align-self: flex-start;
  }

  header {
    align-items: center;
  }

  .featured {
    max-width: 1000px;
  }

  .featured .section-title {
    align-self: center;
  }

  .featured .article-stack {
    align-self: stretch;
    flex-grow: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 12px;
    max-height: 800px;
  }

  .featured .article-stack :first-child {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
  }

  .featured .article-stack figure {
    flex-grow: 1;
  }

  .horizontal-card .card-content {
    flex-shrink: 1;
  }

  .horizontal-card figure {
    height: calc();
    aspect-ratio: 1/1;
  }

  .horizontal-card figure img {
    width: 100%;
    height: 100%;
  }
}