:root {
    --brand-blue-1: #fbfcfeff;
    --neutral-50: #fafafaff;
    --neutral-100: #f5f5f5ff;
    --neutral-200: #e5e5e5ff;
    --neutral-300: #d4d4d4ff;
    --neutral-400: #a1a1a1ff;
    --neutral-500: #737373ff;
    --neutral-600: #525252ff;
    --neutral-700: #404040ff;
    --neutral-800: #262626ff;
    --neutral-900: #171717ff;
    --neutral-950: #0a0a0aff;
    --slate-50: #f8fafcff;
    --slate-100: #f1f5f9ff;
    --slate-200: #e2e8f0ff;
    --slate-300: #cad5e2ff;
    --slate-400: #90a1b9ff;
    --slate-500: #62748eff;
    --slate-600: #45556cff;
    --slate-700: #314158ff;
    --slate-800: #1d293dff;
    --slate-900: #0f172bff;
    --slate-950: #020618ff;
    --gray-50: #f9fafbff;
    --gray-100: #f3f4f6ff;
    --gray-200: #e5e7ebff;
    --gray-300: #d1d5dcff;
    --gray-400: #99a1afff;
    --gray-500: #6a7282ff;
    --gray-600: #4a5565ff;
    --gray-700: #364153ff;
    --gray-800: #1e2939ff;
    --gray-900: #101828ff;
    --gray-950: #030712ff;
    --zinc-50: #fafafaff;
    --zinc-100: #f4f4f5ff;
    --zinc-200: #e4e4e7ff;
    --zinc-300: #d4d4d8ff;
    --zinc-400: #9f9fa9ff;
    --zinc-500: #71717bff;
    --zinc-600: #52525cff;
    --zinc-700: #3f3f47ff;
    --zinc-800: #27272aff;
    --zinc-900: #18181bff;
    --zinc-950: #09090bff;
    --stone-50: #fafaf9ff;
    --amber-50: #fffbebff;
    --amber-100: #fef3c6ff;
    --amber-200: #fee685ff;
    --amber-300: #ffd230ff;
    --amber-400: #ffb900ff;
    --amber-500: #fe9a00ff;
    --amber-600: #e17100ff;
    --amber-700: #bb4d00ff;
    --amber-800: #973c00ff;
    --amber-900: #7b3306ff;
    --amber-950: #461901ff;
    --yellow-50: #fefce8ff;
    --yellow-100: #fef9c2ff;
    --yellow-200: #fff085ff;
    --yellow-300: #ffdf20ff;
    --yellow-400: #fdc700ff;
    --yellow-500: #f0b100ff;
    --yellow-600: #d08700ff;
    --yellow-700: #a65f00ff;
    --yellow-800: #894b00ff;
    --yellow-900: #733e0aff;
    --yellow-950: #432004ff;
    --lime-50: #f7fee7ff;
    --lime-100: #ecfccaff;
    --lime-200: #d8f999ff;
    --lime-300: #bbf451ff;
    --lime-400: #9ae600ff;
    --lime-500: #7ccf00ff;
    --lime-600: #5ea500ff;
    --lime-700: #497d00ff;
    --lime-800: #3c6300ff;
    --lime-900: #35530eff;
    --lime-950: #192e03ff;
    --green-50: #f0fdf4ff;
    --green-100: #dcfce7ff;
    --green-200: #b9f8cfff;
    --green-300: #7bf1a8ff;
    --green-400: #05df72ff;
    --green-500: #00c950ff;
    --green-600: #00a63eff;
    --green-700: #008236ff;
    --green-800: #016630ff;
    --green-900: #0d542bff;
    --green-950: #032e15ff;
    --emerald-50: #ecfdf5ff;
    --emerald-100: #d0fae5ff;
    --emerald-200: #a4f4cfff;
    --emerald-300: #5ee9b5ff;
    --emerald-400: #00d492ff;
    --emerald-500: #00bc7dff;
    --emerald-600: #009966ff;
    --emerald-700: #007a55ff;
    --emerald-800: #006045ff;
    --emerald-900: #004f3bff;
    --emerald-950: #002c22ff;
    --teal-50: #f0fdfaff;
    --teal-100: #cbfbf1ff;
    --teal-200: #96f7e4ff;
    --teal-300: #46ecd5ff;
    --teal-400: #00d5beff;
    --teal-500: #00bba7ff;
    --teal-600: #009689ff;
    --teal-700: #00786fff;
    --teal-800: #005f5aff;
    --teal-900: #0b4f4aff;
    --teal-950: #022f2eff;
    --cyan-50: #ecfeffff;
    --cyan-100: #cefafeff;
    --cyan-200: #a2f4fdff;
    --cyan-300: #53eafdff;
    --cyan-400: #00d3f3ff;
    --cyan-500: #00b8dbff;
    --cyan-600: #0092b8ff;
    --cyan-700: #007595ff;
    --cyan-800: #005f78ff;
    --cyan-900: #104e64ff;
    --cyan-950: #053345ff;
    --sky-50: #f0f9ffff;
    --sky-100: #dff2feff;
    --sky-200: #b8e6feff;
    --sky-300: #74d4ffff;
    --sky-400: #00bcffff;
    --sky-500: #00a6f4ff;
    --sky-600: #0084d1ff;
    --sky-700: #0069a8ff;
    --sky-800: #00598aff;
    --sky-900: #024a70ff;
    --sky-950: #052f4aff;
    --blue-50: #eff6ffff;
    --blue-100: #dbeafeff;
    --blue-200: #bedbffff;
    --blue-300: #8ec5ffff;
    --blue-400: #51a2ffff;
    --blue-500: #2b7fffff;
    --blue-600: #155dfcff;
    --blue-700: #1447e6ff;
    --blue-800: #193cb8ff;
    --blue-900: #1c398eff;
    --blue-950: #162456ff;
    --indigo-50: #eef2ffff;
    --indigo-100: #e0e7ffff;
    --indigo-200: #c6d2ffff;
    --indigo-300: #a3b3ffff;
    --indigo-400: #7c86ffff;
    --indigo-500: #615fffff;
    --indigo-600: #4f39f6ff;
    --indigo-700: #432dd7ff;
    --indigo-800: #372aacff;
    --indigo-900: #312c85ff;
    --indigo-950: #1e1a4dff;
    --violet-50: #f5f3ffff;
    --violet-100: #ede9feff;
    --violet-200: #ddd6ffff;
    --violet-300: #c4b4ffff;
    --violet-400: #a684ffff;
    --violet-500: #8e51ffff;
    --violet-600: #7f22feff;
    --violet-700: #7008e7ff;
    --violet-800: #5d0ec0ff;
    --violet-900: #4d179aff;
    --violet-950: #2f0d68ff;
    --purple-50: #faf5ffff;
    --purple-100: #f3e8ffff;
    --purple-200: #e9d4ffff;
    --purple-300: #dab2ffff;
    --purple-400: #c27affff;
    --purple-500: #ad46ffff;
    --purple-600: #9810faff;
    --purple-700: #8200dbff;
    --purple-800: #6e11b0ff;
    --purple-900: #59168bff;
    --purple-950: #3c0366ff;
    --fuchsia-50: #fdf4ffff;
    --fuchsia-100: #fae8ffff;
    --fuchsia-200: #f6cfffff;
    --fuchsia-300: #f4a8ffff;
    --fuchsia-400: #ed6affff;
    --fuchsia-500: #e12afbff;
    --fuchsia-600: #c800deff;
    --fuchsia-700: #a800b7ff;
    --fuchsia-800: #8a0194ff;
    --fuchsia-900: #721378ff;
    --fuchsia-950: #4b004fff;
    --pink-50: #fdf2f8ff;
    --pink-100: #fce7f3ff;
    --pink-200: #fccee8ff;
    --pink-300: #fda5d5ff;
    --pink-400: #fb64b6ff;
    --pink-500: #f6339aff;
    --pink-600: #e60076ff;
    --pink-700: #c6005cff;
    --pink-800: #a3004cff;
    --pink-900: #861043ff;
    --pink-950: #510424ff;
    --rose-50: #fff1f2ff;
    --rose-100: #ffe4e6ff;
    --rose-200: #ffccd3ff;
    --rose-300: #ffa1adff;
    --rose-400: #ff637eff;
    --rose-500: #ff2056ff;
    --rose-600: #ec003fff;
    --rose-700: #c70036ff;
    --rose-800: #a50036ff;
    --rose-900: #8b0836ff;
    --rose-950: #4d0218ff;
    --red-50: #fef2f2ff;
    --red-100: #ffe2e2ff;
    --red-200: #ffc9c9ff;
    --red-300: #ffa2a2ff;
    --red-400: #ff6467ff;
    --red-500: #fb2c36ff;
    --red-600: #e7000bff;
    --red-700: #c10007ff;
    --red-800: #9f0712ff;
    --red-900: #82181aff;
    --red-950: #460809ff;
    --orange-50: #fff7edff;
    --orange-100: #ffedd4ff;
    --orange-200: #ffd6a8ff;
    --orange-300: #ffb86aff;
    --orange-400: #ff8904ff;
    --orange-500: #ff6900ff;
    --orange-600: #f54900ff;
    --orange-700: #ca3500ff;
    --orange-800: #9f2d00ff;
    --orange-900: #7e2a0cff;
    --orange-950: #441306ff;
    --stone-100: #f5f5f4ff;
    --stone-200: #e7e5e4ff;
    --stone-300: #d6d3d1ff;
    --stone-400: #a6a09bff;
    --stone-500: #79716bff;
    --stone-600: #57534dff;
    --stone-700: #44403bff;
    --stone-800: #292524ff;
    --stone-900: #1c1917ff;
    --stone-950: #0c0a09ff;
    --brand-blue-2: #dfebf6ff;
    --brand-blue-3: #b7d1ebff;
    --brand-blue-4: #8fb8e0ff;
    --brand-blue-5: #679ed5ff;
    --brand-blue-6: #3f85caff;
    --brand-blue-7: #2e6ba8ff;
    --brand-blue-main: #23517fff;
    --brand-blue-9: #1e456cff;
    --brand-blue-10: #183858ff;
    --brand-blue-11: #132b44ff;
    --brand-gold-gold-1: #faf4e4ff;
    --brand-gold-gold-2: #f6e9c8ff;
    --brand-gold-gold-3: #f1dfadff;
    --brand-gold-gold-4: #edd491ff;
    --brand-gold-gold-5: #e8c976ff;
    --brand-gold-gold-6: #ccaf62ff;
    --brand-gold-gold-7: #b1964dff;
    --brand-gold-gold-8: #957c39ff;
    --brand-gold-gold-9: #876f2fff;
    --brand-gold-gold-10: #7a6324ff;
    --brand-gold-gold-11: #5e4910ff;
    --transparent: #00000000;
    --black: #000000ff;
    --white: #ffffffff;
}
