@import 'variables.css';
@media screen and (min-width: 768px) {

    .tech-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main {
        align-items: center;
    }

    section {
        max-width: 1200px;
    }

    .core-discipline-stack {
        flex-direction: row;
        gap: 4px;
    }

    .core-discipline-stack .card {
        flex-direction: column;
        align-items: center;
    }

    .work-history ul li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 24px;
        flex-wrap: nowrap;
    }

    #line {
        display: flex;
    }

    .about-me .section-title .section-title-display {
        color: var(--tint-purple);
        margin-left: -32px;
    }

    .core-discipline .section-title .section-title-display {
        margin-bottom: -32px;
    }
}