@media screen and (min-width: 768px) {

    .tech-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main {
        align-items: center;
    }

    section {
        max-width: 1200px;
    }

    .core-discipline-stack {
        flex-direction: row;
        gap: 4px;
    }

    .core-discipline-stack .card {
        flex-direction: column;
        align-items: center;
    }
}