@import 'variables.css';
@media screen and (min-width: 768px) {

    .tech-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main {
        align-items: center;
    }

    section {
        max-width: 1200px;
    }

    .core-discipline-stack {
        flex-direction: row;
        gap: 4px;
        align-items: stretch;
        justify-content: space-between;
    }

    .core-discipline-stack .card {
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .work-history ul li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        padding: 24px;
        flex-wrap: nowrap;
    }

    #line {
        display: flex;
    }

    .about-me .section-title .section-title-display {
        color: var(--tint-purple);
        margin-left: -32px;
    }

    .core-discipline .section-title .section-title-display {
        margin-bottom: -32px;
    }

    #about-me-paragraph {
        font-size: 24px;
    }

    .about-content {
        flex-direction: row;
        align-items: stretch;
        gap: 32px;
        padding: 0 16px;
    }

    .about-me figure {
        flex: 0 0 40%;
        display: flex;
        align-items: flex-start;
        position: relative;
    }

    .about-content .text-content {
        flex: 1;
    }

    #my-portrait {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translateY(10px);
    }

    .core-discipline {
        padding: 200px 0;
    }

    .project-stack {
        flex-direction: row;
    }

    .project-stack:hover .project-card:not(:hover) {
        flex: 0.5;
    }

    .project-card {
        transition: flex 0.5s ease;
    }

    .project-card:hover .card-image {
        filter: saturate(100%) brightness(100%);
    }

    .project-title {
        transition: opacity 0.5s ease 0.3s;
    }

    .project-stack:hover .project-card:not(:hover) .project-title {
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    .hero-element-container {
        justify-content: center;
        align-items: center;
    }

    .short-about-me {
        max-width: 600px;
        width: 100%;
        justify-self: center;
    }

    .hero-element-container {
        align-items: flex-start;
    }



    .landing {
        width: 100%;
        height: auto;
        min-height: 100vh;
        overflow: hidden;
    }





    .landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .short-about-me-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 100%;
        margin-left: 0;
    }



    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    #form-header {
        flex-direction: row;
        gap: 32px;
    }

    #form-name,
    #form-email {
        flex: 1;
    }

    #section-contact-me {
        align-items: center;
        padding: 80px 0;
    }

}

@media screen and (min-width: 1000px) {
    .hero-title {
        font-size: 140px;
    }

    .hero-deco {
        width: auto;
        height: 700px;
        margin-left: 0;
    }

    .stamp-desktop {
        display: block;
    }

    .stamp {
        display: none;
    }

    .hero-element-container {
        align-items: center;
    }
}