@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
    --page-background: #101010;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --tint-2: #93F4D8;
    --tint-purple: #CD82FE;
}

body {
    font-family: 'Stack Sans Text', sans-serif;
    background-color: var(--page-background);
    color: var(--text-primary);
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Permanent Marker', cursive;
}

.tint-2 {
    color: var(--tint-2);
}

.stack-sans {
    font-family: 'Stack Sans Text', sans-serif;
}

.display-text {
    font-family: 'Permanent Marker', cursive;
}

main {
    min-height: 100vh;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    background-color: var(--text-primary);
}

.hero-element-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 36px 16px;
    overflow: hidden;
}

.hero-deco {
    margin-left: -100px;
    z-index: 1;
}

.hero-title {
    font-family: 'Stack Sans Text', sans-serif;
    font-size: 60px;
    width: 300px;
    line-height: 0.86;
}



.hero-title-container {
    display: flex;
    flex-direction: column;
    z-index: 100;
    gap: 16px;
}

.stamp {
    width: 80px;
    animation: rotation 20s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}


.hero-title span {
    font-family: 'Permanent Marker', Cursive;
    color: var(--tint-purple)
}

.core-discipline .section-title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0px 16px;
}

.core-discipline .display-text {
    font-size: 40px;
    margin-bottom: -25px;
    color: #e9f508;
}

.core-discipline .stack-sans {
    font-size: 60px;
}

.tech-stack .section-title {
    align-items: flex-start;
    padding: 0px 16px;
}

.tech-stack .display-text {
    font-size: 40px;
    margin-bottom: -25px;
    margin-left: 8px;
    z-index: 2;
    color: #e9f508;
}

.tech-stack .stack-sans {
    font-size: 60px;
    z-index: 1;
}

.selected-works {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: stretch;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px 0px;
}

.line-1 {
    font-family: 'Stack Sans Text', sans-serif;
    font-size: 60px;
}

.line-2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    margin-top: -30px;
    color: #02b784;

    transform: rotate(-5deg);
}

footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    gap: 9px;
}

.footer-menu p {
    font-size: 20px;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.footer-menu ul li {
    font-family: 'Stack Sans Text', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: var(--text-primary);

}

.social-link-container {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    gap: 16px;
}

.social-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 32px;
    line-height: 1.2;
}

.social-link a:hover {
    text-decoration: underline;
}

#footer-deco-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    height: 100px;
}

.footer-deco {
    height: 100px;
    flex-shrink: 0;
    object-fit: fill;
    position: relative;
}

.footer-deco:not(:first-child) {
    margin-left: -24px;
}

#footer-end {
    align-self: center;
}

.icon-arrow {
    width: 48px;
    height: 48px;
    stroke-width: 4px;
    fill: none;
}

.icon-arrow path {
    stroke: var(--text-primary);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
}