@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
    --page-background: #101010;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --tint-2: #93F4D8;
    --tint-purple: #CD82FE;
}

body {
    font-family: 'Stack Sans Text', sans-serif;
    background-color: var(--page-background);
    color: var(--text-primary);
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Permanent Marker', cursive;
}

.tint-2 {
    color: var(--tint-2);
}

.stack-sans {
    font-family: 'Stack Sans Text', sans-serif;
}

.display-text {
    font-family: 'Permanent Marker', cursive;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    background-color: var(--text-primary);
    position: fixed;
    width: 100vw;
    z-index: 1000;
    box-sizing: border-box;
    overflow: hidden;
}

.hero-element-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px 16px 16px 16px;
    overflow: hidden;
}

.hero-deco {
    margin-left: -100px;
    z-index: 1;
}

.hero-title {
    font-family: 'Stack Sans Text', sans-serif;
    font-size: 5rem;
    width: 300px;
    line-height: 0.86;
}

#mono {
    font-family: 'Courier New', Courier, monospace;
    color: #F4511E;
    background-color: #ffddd2;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: 600;
}



.hero-title-container {
    display: flex;
    flex-direction: column;
    z-index: 100;
    gap: 16px;
}

.stamp {
    width: 80px;
    animation: rotation 20s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}


.hero-title span {
    font-family: 'Permanent Marker', Cursive;
    color: var(--tint-purple)
}

.short-about-me {
    font-size: 1.2rem;
    line-height: 125%;
    letter-spacing: 0%;
    font-weight: 200;
    margin: 0px 16px;
}

/*---------- About Me ------------*/

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    gap: 32px;
    min-height: 50vh;
}

.about-me .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
}

.about-me p {
    align-self: stretch;
    text-align: center;
    margin-top: -32px;
    padding: 0 16px;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--text-secondary);
}

.about-me figure {
    align-self: center;
}

#my-portrait {
    align-self: center;
}

.about-me .text-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0px 16px;
}

#about-me-paragraph {
    font-weight: 100;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 2;
    text-align: left;
    padding: 16px 16px;
    color: var(--text-primary)
}

.about-me a {
    margin-left: 16px;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: 'Stack Sans Text';
    text-decoration: underline;
}

.about-me .section-title .stack-sans {
    font-size: 60px;
}

.about-me .section-title .display-text {
    font-size: 40px;
    margin-top: 10px;
    margin-left: -20px;
    z-index: 2;
    color: var(--tint-purple);
}

/* ----------Core Discipline-------- */

.core-discipline {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: stretch;
    padding: 32px 16px;
}

.core-discipline .section-title {
    display: flex;
    align-self: stretch;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 24px 16px;
}

.core-discipline .display-text {
    font-size: 40px;
    margin-bottom: -25px;
    color: #e9f508;
}

.core-discipline .stack-sans {
    font-size: 60px;
}

.core-discipline-stack {
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
}

.core-discipline-stack .card {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 32px 0px;
    border-bottom: solid 0.7px #fff;
}

.card.reverse {
    flex-direction: row-reverse;
}

.core-discipline-stack .card .card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.core-discipline-stack .card .card-body h3 {
    font-family: 'Stack Sans Text', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    line-height: 0.9;
}

.core-discipline-stack .card .card-body p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--text-secondary);
}



/*-------- Tech Stack -----------*/

.tech-stack {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 40px 16px;
}

.tech-stack .section-title {
    align-items: flex-start;
    padding: 0px 16px;
}

.tech-stack .display-text {
    font-size: 40px;
    margin-bottom: -25px;
    margin-left: 8px;
    z-index: 2;
    color: #e9f508;
}

.tech-stack .stack-sans {
    font-size: 60px;
    z-index: 1;
}

.tech-grid {
    display: grid;
    align-self: stretch;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;
    padding: 24px 16px;
    background-color: #101010;
}

.grid-element {
    display: flex;
    height: 144px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    justify-self: auto;
    align-self: auto;
    background-color: #1f1f1f;
    text-align: center;
}

.grid-element p {
    font-size: 1rem;
    font-weight: 200;
}


/* ----Selected Works -----*/

.selected-works {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: stretch;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px 0px;
}


.line-1 {
    font-family: 'Stack Sans Text', sans-serif;
    font-size: 60px;
}

.line-2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    margin-top: -30px;
    color: #02b784;

    transform: rotate(-5deg);
}

.project-stack {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: stretch;
    height: 640px;

}

.project-card {
    width: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
    transition: flex 0.5s ease;
}

.project-card.active {
    flex: 2;
}

.project-stack:has(.project-card.active) .project-card:not(.active) {
    flex: 0.5;
}

.card-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    filter: saturate(0) brightness(30%);
    transition: filter 0.5s ease;
}

.project-card.active .card-image {
    filter: saturate(100%) brightness(100%);
}

.project-title {
    position: absolute;
    top: auto;
    bottom: 16px;
    left: 16px;
    z-index: 10;
    margin: 0;
    color: var(--text-primary);
    font-size: 1.5rem;
    font-weight: 600;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    gap: 9px;
}

.footer-menu p {
    font-size: 20px;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.footer-menu ul li {
    font-family: 'Stack Sans Text', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: var(--text-primary);

}

.social-link-container {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    gap: 16px;
}

.social-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 32px;
    line-height: 1.2;
}

.social-link a:hover {
    text-decoration: underline;
}

#footer-deco-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    height: 100px;
}

.footer-deco {
    height: 100px;
    flex-shrink: 0;
    object-fit: fill;
    position: relative;
}

.footer-deco:not(:first-child) {
    margin-left: -24px;
}

#footer-end {
    align-self: center;
}

.icon-arrow {
    width: 48px;
    height: 48px;
    stroke-width: 4px;
    fill: none;
}

.icon-arrow path {
    stroke: var(--text-primary);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
}