@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
    --page-background: #101010;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --tint-2: #93F4D8;
    --tint-purple: #CD82FE;
    --primary-type: 'Stack Sans Text', sans-serif;
    --display-type: 'Permanent Marker';
}

.section-title-main {
    font-family: var(--primary-type);
    font-size: 60px;
}

.section-title-display {
    font-family: var(--display-type);
    font-size: 40px;
}

.body-medium {
    font-family: var(--primary-type);
    font-size: 24px;
}

.body-large {
    font-family: var(--primary-type);
    font-size: 32px;
    line-height: 1.2;
}

@media screen and (min-width: 768px) {
    .section-title-main {
        font-family: var(--primary-type);
        font-size: 130px;
    }

    .section-title-display {
        font-family: var(--display-type);
        font-size: 88px;
    }
}