:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --font-family: 'Arial, sans-serif';
    --background-color: #f5f5f5;
    --text-color: #333333;
}

body {
    font-family: sans-serif;
}

li {
    list-style: none;
}