:root {
    --primary-color: #4caf50;
    --secondary-color: #ff9800;
    --font-family: "Arial, sans-serif";
    --background-color: #f5f5f5;
    --text-color: #333333;
}

section {
    width: 100%;
}

body {
    font-family: sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 0;
}
li {
    list-style: none;
}

#mockup {
    width: 40px;
    height: 40px;
    background-color: #4caf50;
}

.work-experience-stack {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.work-experience-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    gap: 16px;
}

.work-experience-item .li-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.company-name {
    margin: 0;
}

.job-position {
    margin: 0;
}

.work-date {
    display: inline;
    width: auto;
    white-space: nowrap;
    margin-top: 0;
}

#section-contact-me {
    background-color: teal;
}
